   div.main {
        background-color: #D3D3D3;
	height: 800px;
	width: 1200px;
	text-align: center;
	margin: auto;
	padding-top; 15 cm;
	}
    body{
	background-color: #0000CD;
	}
    .text-shadow {
	text-shadow: 3px 2px white;
	font-family:"Comic Sans MS", cursive, sans-serif;
	    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
	font-family: "Comic Sans MS", cursive, sans-serif;
       }
    li {
        float: left;
       }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
       }

    a:hover:not(.contact) {
        background-color: #696969;
       }

    a.contact {
        background-color: #FF1493;
       }
    h2.like {
	    font-family: "Comic Sans MS", cursive, sans-serif;
      }
      p.email {
	font-family: "Comic Sans MS", cursive, sans-serif;
     }
        p.sarah {
		font-family: "Comic Sans MS", cursive, sans-serif;
		font-size: 25px;
	}
	p.sadie {
		font-family: "Comic Sans MS", cursive, sans-serif;
		font-size: 25px;
	}
	p.ivy {
		font-family: "Comic Sans MS", cursive, sans-serif;
		font-size: 25px;
	}
p.caleb {
	font-family: "Comic Sans MS", cursive, sans-serif;
		font-size: 25px;
}
a.lavender {
	color: #FF1493;
}
a.navy {
	color: #FF1493;
}
	a.purple  {
		color: #FF1493;
	}
a.pink {
		color: #FF1493;
	}
a.orange {
		color: #FF1493;
	}
a.yellow {
		color: #FF1493;
	}
a.blue {
		color: #FF1493;
	}
a.black {
		color: #FF1493;
	}
a.silver {
		color: #FF1493;
	}
a.gold {
		color: #FF1493;
	}
		.slogan {
	text-align: center;
	color: #F8F8FF;
	font-family: "Courier New", Courier, monospace;
}
.humans {
	color: #F8F8FF;
}
	

h2.glow {
	font-family: "Comic Sans MS", cursive, sans-serif;
	  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
   to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
	
	
